<div class="card md-2 mt-1 " id="nickWrap">
    <div class="card-header bg-dark text-white">
        <h5><i class="fas fa-user"></i> Nombre de Usuario</h5>
    </div>
    <p id="nickError"></p>
    <div class="card-body">
        <form id="nickForm">
            <input type="text" id="nickName" class="form-control" autocomplete="off" placeholder="Ingrese un nombre para iniciar el chat">
            <button type="submit" class="btn btn-warning btn-block mt-3">
                <i class="fas fa-paper-plane"></i> Entrar
            </button>
        </form>
    </div>
</div>

<div class="container" id="contentWrap">
    <div class="card md-2 mt-1">
        <div class="card-header bg-dark text-white">
            <h5><i class="fas fa-comments"></i> Chat</h5>
        </div>
        <div id="chat" class="card-body">

        </div>
        <form id="message-form" class="card-footer">
            <div class="input-group">
                <input type="text" id="message" class="form-control" autocomplete="off">
                <div class="input-group-append">
                    <input type="submit" class="btn btn-success">
                </div>
            </div>

        </form>

    </div>
</div>

